body {
  background-image: url(../images/todo-list-icon-notepad-with-completed-todo-list-3d-rendering_471402-325.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
